



<form>
  <div class="container">
      <div class="row py-1 no-gutters ">
          
        <a routerLink="/#" style="text-decoration: none;">
              <div class="card mb-3" style="width:500 rem">
                  <div class=" fit row no-gutters">
                    <div class="col-md-3">
                      <img src="assets\img\image1.PNG" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body"style="color: black;">
                        <h5 class="card-title">
                       ASUS VivoBook 15 (2022) Core i3 10th Gen - (8 GB/512 GB SSD/Windows 11 Home) X515JA-EJ362WS Thin and Light Laptop  (15.6 inch, Transparent Silver, 1.80 kg, With MS Office)
                      </h5>
                       
                       <p class="card-text text-bold">₹39,990₹50,99021% off

                          Or Pay ₹39,890 +  100
                          Available offers
                          
                          <p class="card-text">Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>
                          

                          <p class="card-text">                                                                                                                                            Get Google Nest hub(2nd gen) at just ₹4999T&C
                          
                          -Get Google Nest mini at just ₹1999T&C
                          
                          -No cost EMI ₹6,665/month. Standard EMI also availableView Plans
                          
                          -View 2 more offers
                          </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="col-md-2 py-5 mt-4 ml-4">
                              
                      <h3 class="card-text"style="color: black;">₹39,890 </h3>
                    </div>
                  </div>
                </div>

                <div class="card mb-3 py-1 " style="width: 100%;">
                  <div class=" fit row no-gutters">
                    <div class="col-md-4">
                      <img src="assets\img\image1.PNG" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body" style="color: black;">
                        <h5 class="card-title ">ASUS VivoBook 15 (2022) Core i3 10th Gen - (8 GB/512 GB SSD/Windows 11 Home) X515JA-EJ362WS Thin and Light Laptop  (15.6 inch, Transparent Silver, 1.80 kg, With MS Office)</h5>
                        <p class="card-text">₹39,990₹50,99021% off

                          Or Pay ₹39,890 +  100
                          Available offers
                          
                          <p class="card-text">-Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>
                          

                          <p class="card-text">                                                                                                                                            Get Google Nest hub(2nd gen) at just ₹4999T&C
                          
                          -Get Google Nest mini at just ₹1999T&C
                          
                          -No cost EMI ₹6,665/month. Standard EMI also availableView Plans
                          
                          -View 2 more offers
                          </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>

                  <div class="card mb-3" style="width: 100%;">
                    <div class=" fit row no-gutters">
                      <div class="col-md-4">
                        <img src="assets\img\image1.PNG" class="card-img" alt="...">
                      </div>
                      <div class="col-md-6">
                        <div class="card-body" style="color: black;">
                          <h5 class="card-title">ASUS VivoBook 15 (2022) Core i3 10th Gen - (8 GB/512 GB SSD/Windows 11 Home) X515JA-EJ362WS Thin and Light Laptop  (15.6 inch, Transparent Silver, 1.80 kg, With MS Office)</h5>
                          <p class="card-text">₹39,990₹50,99021% off
  
                            Or Pay ₹39,890 +  100
                            Available offers
                            
                            <p class="card-text">-Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>
                            
  
                            <p class="card-text">                                                                                                                                            Get Google Nest hub(2nd gen) at just ₹4999T&C
                            
                            -Get Google Nest mini at just ₹1999T&C
                            
                            -No cost EMI ₹6,665/month. Standard EMI also availableView Plans
                            
                            -View 2 more offers
                            </p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="card mb-3" style="width: 100%;">
                      <div class=" fit row no-gutters">
                        <div class="col-md-4">
                          <img src="assets\img\image1.PNG" class="card-img" alt="...">
                        </div>
                        <div class="col-md-6">
                          <div class="card-body"  style="color: black;">
                            <h5 class="card-title">ASUS VivoBook 15 (2022) Core i3 10th Gen - (8 GB/512 GB SSD/Windows 11 Home) X515JA-EJ362WS Thin and Light Laptop  (15.6 inch, Transparent Silver, 1.80 kg, With MS Office)</h5>
                            <p class="card-text">₹39,990₹50,99021% off
    
                              Or Pay ₹39,890 +  100
                              Available offers
                              
                              <p class="card-text">-Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>
                              
    
                              <p class="card-text">                                                                                                                                            Get Google Nest hub(2nd gen) at just ₹4999T&C
                              
                              -Get Google Nest mini at just ₹1999T&C
                              
                              -No cost EMI ₹6,665/month.
                              - Standard EMI also availableView Plans
                              
                              -View 2 more offers
                            </p>
                           
                            </div>
                             
                            <p class="card-text"><small class="text-muted">-Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                   </div>
                   
                 
      </div>
    </a> 
    </div>


    